$full_height: 100vh;

@mixin transition($time : .25s){
  transition: color $time ease-in-out
}

body{
  overflow-x: hidden;
  background-attachment: fixed;
  background: rgb(148,8,247);
  background: linear-gradient(108deg, rgba(148,8,247,0.455) 0%, rgba(148,8,247,0.348) 43%, rgba(170,247,166,0.355) 100%);
  background-attachment: fixed;
}

h1{
  color: $text_color;
}

#submit_button{
  background-color: $button_color;
  border: none;
}

#center{
  // background-color: $main_part_color;
  height: $full_height;
}
.checked{
  text-decoration: line-through;
  background-color: $checked_item_color;
}
.close{
  font-size: 6vh;
  @include transition();
}

.close:hover{
  color: red;
}

form-control:invalid{
  border: 2px dashed red;
}

form-control:valid{
  border: 2px solid black;
}

a{
  color: $text_color;
  font-size: 160%;
  @include transition();
  text-decoration:none;
  background-color: inherit;
}

li{
  @include transition(0.4s);
}

li:hover{
  background-color: $hover_link_color;
}

li:hover a{
  color: #2669E6;
}
